.bonuses {
  display: flex;
  flex-direction: row;
  svg.icon {
    fill: $lightGrey;
    margin: 0px 15px;
  }
  svg.hidden {
    opacity: 0.2;
  }
}

.bonus-icon {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
