.controls button.activity {
    background: black;
    padding: 15px 25px;
    color: white;
    margin: 30px;
}

button.shop {
    padding: 15px 30px;
    position: absolute;
    bottom: 200px;
    background: white;
    color: black;
}