$white : #FFF;
$darkPurple: #171738;
$lightPurple: #7D48FF;
$yellowPrimary: #f3d15f;
$yellowSecondary: #dcaa32;
$blue: #3423A6;
$darkGrey: #636363;
$lightGrey : #F1F1F1;

$primaryFont: 'Montserrat';
$secondFont: 'Titillium Web';

