$white : #FFF;
$darkPurple: #171738;
$lightPurple: #7D48FF;
$yellowPrimary: #f3d15f;
$yellowSecondary: #dcaa32;
$blue: #3423A6;
$darkGrey: #E1D6C2;
$lightGrey : #F9F4EA;
$lightPink: #C66FFF;
$darkPink: #7128A2;
$secondaryText: #bcbcbc;
$backGradient: linear-gradient(to bottom, #694383, #533272, #3d2162, #271152, #0e0043);

$primaryFont: 'Montserrat';
$secondFont: 'Roboto Mono', monospace;
