$white : #FFF;
$darkPurple: #171738;
$lightPurple: #7D48FF;
$yellowPrimary: #f3d15f;
$yellowSecondary: #dcaa32;
$blue: #3423A6;
$darkGrey: #E1D6C2;
$lightGrey : #F9F4EA;

$primaryFont: 'Montserrat';
$secondFont: 'Titillium Web';

