.container .controls {
    background: blue;
    height: 20%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    button.activity {
        outline: none;
        background-color: $yellowPrimary;
        border: none;
        border-radius: 5px;
        box-shadow: 0 9px $yellowSecondary;
        .icon {
            fill: #dcaa32;
        }
        

        &:active {
            background-color: #f3d15f;
            box-shadow: 0 3px #dcaa32;
            transform: translateY(5px);
        }
    }

}

$buttonBaseColor: #336699;
$disableDuration: 15s;

button.cooldown {
    background: $buttonBaseColor;
    min-height: 48px;
    min-width: 144px;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    overflow: hidden;
    cursor: pointer;

    &:disabled {
        background: darken($buttonBaseColor, 10%);
        color: darken(#fff, 15%);
        cursor: default;
        box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.2);

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            height: 5px;
            background: darken($buttonBaseColor, 20%);
            animation: cooldown $disableDuration linear;
        }
    }
}

@keyframes cooldown {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}





/* layout stuff */
section {
    text-align: center;
    margin-top: 100px;
    color: #333;
}

p {
    font-size: 12px;
}