.menu-container {
    z-index: 300;
    width: 100vw;
    height: 100vh;
    background: $lightPurple;
    position: absolute;
    display: flex;
    transition-duration: 0.2s;
}

.hamburger-deploy {
    transform: translateX(-100%);
}

.menu-links {
    margin: auto;
    .menu-link {
        margin: 40px;
        color: $white;
        font-weight: 600;
        font-size: 2.4rem;
    }
}
