.container .statuses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;

    .head {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      img {
        height: 90px;
      }
    }

    p {
        position: absolute;
        top: -20px;
    }

    .level {
        display: flex;
        align-items: center;
        transform: translateY(-100%);
        width: 200px;
        height: 10px;
        margin: 20px 0;
        background: white;
        transition: 0.2s ease-in-out;
        border-radius: 5px;

        .fill {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background: black;
            transform-origin: 0 0;
            transform: scaleX(0.5);
            will-change: transform;
        }
    }
}
